nav{
  width: 100%;
  height: 50px;
  background-color: red;
  display: flex;
  align-items: center;
}

nav .nav_text .nav_items > li{
  list-style: none;
  display: inline-block;
  font-size: 18pt;
}

nav .nav_text .dropdawn{
  cursor: pointer;
  color: white;
  padding: 10px;
  position: relative;
}

nav a{
  color: green;
  text-decoration: none;
  padding: 10px;
}

nav .dropdawn:hover,nav a:hover{
  background-color: black;
}

.drop{
  list-style: none;
  position: absolute;
  left: 0;
  top: 45px;
  z-index: -5;
  background: green;
  padding-inline-start: 0px;
  width: 100%;
  opacity: 0;
  transition: opacity .5s;
}

.drop li{
  padding: 10px;
}

.drop li:hover{
  background-color: black;
}

.dropdawn-2{
  position: relative;
}

.drop-2{
  list-style: none;
  position: absolute;
  top: 0px;
  left: 120px;
  opacity: 0;
  background: green;
  padding-inline-start: 0px;
  width: 100%;
  transition: all .5s;
}

.drop-2 li{
  padding: 10px;
}

.drop-2 li:hover{
  background-color: black;
}

nav .dropdawn:hover .drop{
  z-index: 1;
  opacity: 1;
}

nav .dropdawn-2:hover .drop-2{
  opacity: 1;
}

section{
  padding: 1.2rem;
  background-color: #e5e5e5;
}
